{
  "NODE_ENV": "production",
  "PORT": 3000,
  "LOG_LEVEL": "error",
  "API_DOC": {
    "username": "<some secure username>",
    "password": "<some secure password>"
  },
  "CORS": {
    "ALLOW_ORIGIN": ["http://localhost:3000"]
  },
  "PAGINATION": {
    "page_size": 10,
    "max_page_size": 100
  },
  "RSA_KEYS": {
    "PUBLIC_KEY": "-----BEGIN PUBLIC KEY-----\nYour public key from https://cryptotools.net/rsagen\n-----END PUBLIC KEY-----",
    "PRIVATE_KEY": "-----BEGIN PRIVATE KEY-----\nYour private key from https://cryptotools.net/rsagen\n-----END PRIVATE KEY-----"
  }
}
